asgiref==3.2.7
beautifulsoup4==4.9.0
certifi==2020.4.5.1
chardet==3.0.4
Django==3.1.6
django-ckeditor==5.9.0
django-crispy-forms==1.9.0
django-filter==2.2.0
django-js-asset==1.2.2
idna==2.9
joblib==0.15.1
numpy==1.18.4
Pillow==7.1.2
pytz==2019.3
requests==2.23.0
scikit-learn==0.23.1
scipy==1.4.1
soupsieve==2.0
sqlparse==0.3.1
threadpoolctl==2.0.0
urllib3==1.25.9
wiktionaryparser==0.0.97
