body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:#FFFFFF;
}

.flashcard {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin: 0 auto;
  padding: 30px;  
  margin-top:-40px;

}

.flashcard-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flashcard:hover .flashcard-inner {
  transform: rotateY(180deg);

}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front {
  background-color: #E3DC00;
  color: black;
  text-align:center;
}

.back {
  background-color: #E3DC00;
  color: black;
  transform: rotateY(180deg);
  font-size:24px;
  overflow:auto;
  font-weight:lighter;
}



.instruc{
 
    text-align:center;
    margin: 20px 0px;
    font-weight:bold;
}


#first {
    font-size:30px;
    color:#303C6C;
    font-weight:bold;
    
}    


#second {
    color: #E703D2;
    font-size:24px;
    text-decoration:underline;
} 

#third{
    color: #EA0808;
    font-size:24px;
    text-decoration:underline;
}


#finished{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    
}   



.button {
  margin: 0 auto; 
  display: block;
  background-color:#E3DC00;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight:lighter;
  cursor:hand;
 
}

.button:hover {
     background-color:#303C6C;
     color:white;
  
}



#back{
  float:left;
  border:1px white;
  background-color:transparent;
  font-size:48px;
  color:red;
  position: fixed;
  z-index: 1;
  top: 500px;
  left: 30px;
  color:#303C6C;
 
}

#back:hover{
  color:red;
  cursor:hand;
 
}   