div.flashcard {  
    margin:0 10px 30px 0;

}


div.flashcard div.term {
    width: 400px; 
    height:50px;       
    padding: 5px;  
    cursor: hand;    
    cursor: pointer;
    text-align:center;
    font-size:30px;
    background-color:#f8fc00;
    font-family: 'Permanent Marker';
    outline:1px solid black;
    margin: 0 auto;
 }
           
div.flashcard div.def {
    width: 400px;
    padding: 5px;    
    display: none;  
    font-size:20px;
    background-color:#f8fc00;
    outline:1px solid black;
    font-weight:bold;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}   


.instruc{

    font-family: 'Open Sans', sans-serif;
    text-align:center;
    margin: 20px 0px;
    font-weight:bold;
}


#first {
    font-size:40px;
    color:#3148DA;
    font-weight:900;
}    


#second {
    color: #E703D2;
    font-size:30px;
}

#third{
    color: #EA0808;
    font-size:25px;
}


#finished{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    
}   

.button {
  margin: 0 auto; 
  display: block;
  background-color:#f8fc00;
  border: 1px solid black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;

  font-size: 20px;
  font-weight:bold;
 
}

.button:hover {
    background-color: white;
  
}


#back{
  float:left;
  border:1px white;
  background-color:transparent;
  font-size:48px;
  color:red;
  position: fixed;
  z-index: 1;
  top: 500px;
  left: 30px;
}

#back:hover{
  background: rgb(255,0,0);
  background: linear-gradient(0deg, rgba(255,0,0,0.5158438375350141) 42%, rgba(255,255,255,0.48783263305322133) 100%);
 
}   