{% extends "blog/base.html" %}
{% block content%}
    <h1> About</h1>
    <p> This product is 100% free with no limitations on how many times you can use it! </p>
    	<p> Its purpose is to teach everyone vocabulary through a series of games such as flashcards, word-jumble, and word guessing!</p>

    <p> We believe that everyone should have an equal and fair chance at learning and that resources like this should NOT be behind a paywall!</p>
  
     <p> Teachers will have a group created for them when they sign up. Students will then be able to join that teachers group (through the teacher-lookup page) and view all the word list and test that the teacher creates. </p>

     <p> The teacher and will be able to track the test scores of ALL students within their group! </p>

     <p> Students will also be able to view their own scores so they know what they have to work on </p> 

     <h1> Features </h1>

     <p> some features are but are not limited to </p>
    <ul> 
    	<li> Word-list creation </li>
    	<li> Set custom definitions/sentences </li>
    	<li> Play games to study the words within the wordlist </li>
    	<li> Create test </li>
    	<li> Create and customize printable worksheets </li>
    </ul> 
    <br> <br> 
    <p> Feel free to send us any suggestions you may have for the site! </p>
    <br> <br> 

    <h1> Developers </h1> 
    <br>
    <p style = "font-size:24px; font-weight:bold;"> Lorenzo McDaniel </p>

    <ul>
     <li><a href = "https://github.com/lorenzoMcD " style = "color:blue;"> Github </a> </li>
    </ul>
    <br> 
    <p style = "font-size:24px; font-weight:bold;"> Daniel Hatton </p>

    <ul>
     <li><a href = "https://github.com/DHatton1422 " style = "color:blue;"> Github </a> </li>


 </ul>
{% endblock content %}






