{% load static %}

<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="shortcut icon" type="image/png" href="{% static "img/bookworm.png" %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="{% static 'blog/main.css'%}">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.css"/>


    {% if title %}
    <title>Django Blog - {{ title }}</title>
    {% else %}
    <title>Vocab Brain</title>
    {% endif %}
</head>
<body>

    <header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark box-shadow fixed-top" style="background-color: #3498DB;">
    <div class="container">
      <img src="{% static "img/bookworm.png" %}" alt="" width="36" height="36" viewBox="0 0 612 612">
      <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">Vocab Brain </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">

          <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>

          {% if user.is_authenticated %}
                {% for group in user.groups.all %}
                      {% if group.name == 'Student' %}

          <a class="nav-item nav-link" href="{% url 'blog-teacher_lookup' %}">Teachers Lookup</a>

          <a class="nav-item nav-link" href="{% url 'blog-temp' %}">Word List</a>


          {% endif %}
          {%  endfor %}
          {% endif %}
        </div>
        <!-- Navbar Right Side -->
        <div class="navbar-nav">
          {% if user.is_authenticated %}
          {% if user.is_superuser %}

          <a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a>
          {% endif %}
            {% for group in user.groups.all %}
            {% if group.name == 'Teacher' %}
          <a class="nav-item nav-link" href="{% url 'blog-temp' %}">Word List</a>

          <a class="nav-item nav-link" href="{% url 'blog-temp2' %}">Test</a>




          {% endif %}
          {% endfor %}
          <a class="nav-item nav-link" href="{% url 'profile' %}">
            <img class="rounded-circle article-img" src="{{ request.user.profile.image.url }}" id="img">
          </a>

          <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>

          {% else %}
          <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
          <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
          {% endif %}

        </div>
      </div>
    </div>
  </nav>
<br><br><br>
</header>

    <main role="main" class="container">
  <div class="row">
    <div class="col-md-8">
      {% if messages %}
        {% for message in messages %}
        <div class = "alert alert-{{ message.tags }}" id= "message_container">
          {{ message }}
        </div>
        {% endfor %}
      {% endif %}
      {% block content %}{% endblock %}
    </div>




    <div class="col-md-0">
      <div class="content-section" div id= "sidebar" style="background-color: #FFC107;">
        {%block sidebar%}
        {% if user.is_authenticated %}
                {% for group in user.groups.all %}
                      {% if group.name == 'Teacher' %}
        <h3>Teacher Actions</h3>
        <p class='text-muted'>Placeholder.


           {% else %}
           {% if group.name == 'Student' %}


            <h3>Student Actions</h3>
            <p class='text-muted'>Placeholder.


             {% endif %}
          {% endif %}
          {% endfor %}
          {% endif %}

          <ul class="list-group" >
            <li class="list-group-item list-group-item-light" style="background-color: #FEF5E7;color: blue;"><a href="{% url 'blog-announce' %}" > Announcements</a></li>


            {% if user.is_authenticated %}
                {% for group in user.groups.all %}
                      {% if group.name == 'Teacher' %}

                      <li class="list-group-item list-group-item-light" style="background-color: #FEF5E7;color: blue;"><a href="{% url 'list-create' %}" >Create WordList</a></li>


                      <li class="list-group-item list-group-item-light" style="background-color: #FEF5E7;color: blue;"><a href="{% url 'test-create' %}" >Create Test</a></li>


                      <li class="list-group-item list-group-item-light" style="background-color: #FEF5E7;color: blue;"><a href="{% url 'blog-student_tracker' %}" >Track Students in Your Class</a></li>


                      {% endif %}

                      {% if group.name == 'Student' %}

                      <li class="list-group-item list-group-item-light" style="background-color: #FEF5E7;color: blue;"><a href="{% url 'blog-track_progress' %}" >Track Your Progress</a></li>
                      <li class="list-group-item list-group-item-light" style="background-color: #FEF5E7;color: blue;"><a href="{% url 'blog-groups' %}" >Groups</a></li>

                      {% endif %}
                          {% endfor %}
                            {% endif %}


            <li class="list-group-item list-group-item-light" style="background-color: #FEF5E7;color: blue;"><a href="{% url 'blog-suggest' %}" >Suggestions</a></li>

          </ul>
        </p>
        {% endblock %}
      </div>
  </div>

  </div>
<br><br><br><br>
<div class="jumbotron-fluid">
  <div class="navbar fixed-bottom navbar-dark" style="background-color: #3498DB;">
    <div class="container d-flex justify-content-between">
      <a href="https://www.goodtoknow.com/Main_Page" class="navbar-brand d-flex align-items-center"> Good to Know
            </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <a class="navbar-brand text-white" href="#">Vocab Brain</a>
              <h4 class="text-white"></h4>
              <p class="text-muted">Study Hard! Become the best you can be! Education is key, no one can take that away from you. Become the person that you want to be.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4 mobile-hide">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                <li><a href="{% url 'blog-suggest' %}" class="text-white">Contact us</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


     <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.js"></script>

{% block script %}
<!-- this is js for the table pagination-->
<script> $('.mydatatable').DataTable({
            order: [[3, 'desc']],
            pagingType: 'full_numbers',
            lengthMenu:[[5,10,25,50,-1],[5,10,25,50,"All"]]
});
</script>

<!-- This code sets timer for how long message appears at top of screen.-->
    <script>
    var message_ele = document.getElementById("message_container");
    setTimeout(function(){
   message_ele.style.display = "none";
}, 3000);       // Timeout is 3 sec, you can change it
    </script>


{% endblock %}
</body>
</html>
