{% extends "blog/base.html" %}
{% block content%}


<form method= "POST">
  {% csrf_token %}
  {{ formset.management_form }}
{% for form in formset %}
{{form.as_p}}
{% endfor %}

<button type = "submit">Save</button>
</form>

{% endblock content %}



<!--

    <h2>{{word}}</h2>
    <table class = "table table-sm">
    <thead>
        <tr>
            <th width ="30%">Definitions</th>
            <th width ="30%">Sentences</th>
        </tr>
    </thead>
    <tbody>
           {% for def,sent in mylist %}
       			<tr>
            <th>  {{def}} </th>
            <th>  {{sent}} </th>
       	</tr>
			{% endfor %}
      </tbody>
    </table>
    </div>
  </div>
</div>




-->
