{% extends "blog/base.html" %}
{% block content%}









<div class = "row">
<div class = "col-md">
<div class = "card card-body">

    <table class = "table table-sm">
    <thead>
        <tr>

            <h1 width="30%">{{word}}</h1>
            <br>
            <th width ="30%">Definitions</th>
            <!-- <th width ="30%"></th>      working on this still -->

        </tr>
    </thead>
    <tbody>

           {% for text in texts %}            	 
          
            	  
       			<tr>
            <th>  {{text}}
          
      
          	</th>
       	</tr>
			{% endfor %}
       
      </tbody>
    </table>
    </div>
  </div>
</div>










{% endblock content %}




