{% load static %}
{% load auth_extras %}

<html>
<!--  index.html -->



<!--  Required meta tags  -->

<!-- Css tags -->



 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" type="text/css" href="{% static 'blog/flashcard_games.css'%}">


<header>
  <button id= "back" onclick="window.location.href='{% url 'blog-home' %}'"><i class='fas fa-angle-left'></i></button>
  <div class = "instruc"> 
  <h1> <span id = "first"> Flash Cards! </span> </h1>
  <h2> <span id = "second"> Hover Over The Word to Reveal its Definition! </span> </h2> 
  <h3> <span id = "third"> Work Hard! Study Hard! </span> </h3> 

 </div> 
</div>








</header>

<br> <br> <br> <br>


<body>


   <div class="flashcard">
    <div class="flashcard-inner">
      <div class="front">
            <h1>{{terms|index:0}}</h1>
      </div>
           <div class="back">
           <p>{{mydefs|index:0}}</p>
        </div>
      </div> 
   </div> 


    <div class="flashcard">
    <div class="flashcard-inner">
      <div class="front">
            <h1>{{terms|index:1}}</h1>
      </div>
           <div class="back">
           <p>{{mydefs|index:1}}</p>
        </div>
      </div> 
   </div> 


    <div class="flashcard">
    <div class="flashcard-inner">
      <div class="front">
            <h1>{{terms|index:2}}</h1>
      </div>
           <div class="back">
           <p>{{mydefs|index:2}}</p>
        </div>
      </div> 
   </div> 

    <div class="flashcard">
    <div class="flashcard-inner">
      <div class="front">
            <h1>{{terms|index:3}}</h1>
      </div>
           <div class="back">
           <p>{{mydefs|index:3}}</p>
        </div>
      </div> 
   </div> 


    <div class="flashcard">
    <div class="flashcard-inner">
      <div class="front">
            <h1>{{terms|index:4}}</h1>
      </div>
           <div class="back">
           <p>{{mydefs|index:4}}</p>
        </div>
      </div> 
   </div> 



   <div class="flashcard">
    <div class="flashcard-inner">
      <div class="front">
            <h1>{{terms|index:5}}</h1>
      </div>
           <div class="back">
           <p>{{mydefs|index:5}}</p>
        </div>
      </div> 
   </div> 


    <div class="flashcard">
    <div class="flashcard-inner">
      <div class="front">
            <h1>{{terms|index:6}}</h1>
      </div>
           <div class="back">
           <p>{{mydefs|index:6}}</p>
        </div>
      </div> 
   </div> 


    <div class="flashcard">
    <div class="flashcard-inner">
      <div class="front">
            <h1>{{terms|index:7}}</h1>
      </div>
           <div class="back">
           <p>{{mydefs|index:7}}</p>
        </div>
      </div> 
   </div> 

    <div class="flashcard">
    <div class="flashcard-inner">
      <div class="front">
            <h1>{{terms|index:8}}</h1>
      </div>
           <div class="back">
           <p>{{mydefs|index:8}}</p>
        </div>
      </div> 
   </div> 


    <div class="flashcard">
    <div class="flashcard-inner">
      <div class="front">
            <h1>{{terms|index:9}}</h1>
      </div>
           <div class="back">
           <p>{{mydefs|index:9}}</p>
        </div>
      </div> 
   </div> 




    


 <button class = "button" onclick="window.location.href='{% url 'blog-home' %}'">Finished</button>
</body>

    












<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css?family=Coda">
<link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Permanent+Marker" >
<script>



</script>


</html>
