{% load static %}
    

<html>
<head>
    <script src="{% static 'js/SpaceInvaders/phaser.min.js' %}"></script>
    <script src="{% static 'js/SpaceInvaders/Scene1.js' %}"></script>
    <script src="{% static 'js/SpaceInvaders/Scene2.js' %}"></script>
    <script src="{% static 'js/SpaceInvaders/PlayerBullet.js' %}"></script>
    <script src="{% static 'js/SpaceInvaders/EnemyBullet.js' %}"></script>
    <script src="{% static 'js/SpaceInvaders/Explosion.js' %}"></script>
    <script src="{% static 'js/SpaceInvaders/game.js' %}"></script>
       

</head>
<body>

</body>
</html>




    
    
   



