{% extends "blog/base.html" %}
{% block content%}
{% load auth_extras %}
    <h1>Group Lookup Page</h1>
    <p> This page shows what groups you are a member of.</p>
    <p>If you want to leave a group, click the "leave" button.</p>





<div class = "row">
<div class = "col-md">
<div class = "card card-body">

    <table class = "table table-sm">
    <thead>
        <tr>

            <th width="30%">Username</th>
            <th width ="30%">Wordlists</th>
            <th width ="30%">Tests</th>
            <th width ="30%">Action</th>

        </tr>
    </thead>
    <tbody>
           {% for user in users|slice:"1:"  %}
       <tr>
            <th>
               {{ user}}
            </th>







            <th>  <button class = "btn btn-primary" onclick="window.location.href='{% url 'user-lists' user.name %}'"> {{user}}'s Word Lists </button> </th>

              <th>  <button class = "btn btn-warning" onclick="window.location.href='{% url 'user-tests' user.name %}'"> {{user}}'s Tests </button> </th>

            <th>




                   <form method = "POST">{% csrf_token %}
              <button class="btn btn-danger" type="submit" name="group_name" value= "{{ user.name }}">Leave</button> </th>
              </form>




        </tr>

          {% endfor %}
      </tbody>
    </table>
    </div>
  </div>
</div>
{% endblock content %}
