{% load static %}
{% load auth_extras %}

<html>
<!--  index.html -->



<!--  Required meta tags  -->

<!-- Css tags -->



 <link rel="stylesheet" type="text/css" href="{% static 'blog/game.css'%}">


<header>
  <button id= "back" onclick="window.location.href='{% url 'blog-home' %}'"><i class='fas fa-angle-left'></i></button>
  <h4> <span id = "title"> Guess The Word! </span> </h4>
  <h3> <span id = "instruct1"> Find the Term that Matches the Sentence </span> </h3>
  <h3> <span id = "instruct2"> Then Drag the Word into the correct Box </span> </h3>
  <h4> <span id = "instruct3"> Click the Box and Delete the Word to Change Your Answer </span> </h4>

<!-- <li id = "words" hidden> </li> -->
             <div id="buttons">
  <p draggable="true" id="1">{{terms|index:0}}</p>
  <p draggable="true" id="2">{{terms|index:1}}</p>
  {% if terms|length >= 3 %}
  <p draggable="true" id="3">{{terms|index:2}}</p>
  {% if terms|length >= 4 %}
  <p draggable="true" id="4">{{terms|index:3}}</p>
  {% if terms|length >= 5 %}
  <p draggable="true" id="5">{{terms|index:4}}</p>

    {% endif %}
    {% endif %}
    {% endif %}
</div>




</header>

<br> <br> <br> <br>


<body>

  <div id  ="customAlert">
  <div id = "box">
  <div class = "boxHead">
    <p> Score</p>

  </div>
    <div id = "content">
      <p> // </p>
    </div>
    <br>
    <button id = "closeAlert" onclick = "hideCustom()"> Ok </button>
  </div>
</div>


<div id="element2">
<input id="sent1"  type="hidden"  value="{{ terms|index:0 }}"> </input>
<li id = "data1"> {{mysent|index:0}} </li>
<br><br>
<input type=text id="answer1" class= "answer">

<br><br>

<input id="sent2"  type="hidden"  value="{{ terms|index:1 }}"> </input>
<li id = "data2"> {{mysent|index:1}}</li>
<br><br>
<input type=text id="answer2" class= "answer">


<br><br>

<input id="sent3"  type="hidden"  value="{{ terms|index:2 }}"> </input>
<li id = "data3"> {{mysent|index:2}}</li>
<br><br>
 <input type=text id="answer3" class= "answer">
 <br> <br> 

 <input id="sent4"  type="hidden"  value="{{ terms|index:3 }}"> </input>
<li id = "data4"> {{mysent|index:3}}</li>
<br><br>
 <input type=text id="answer4" class= "answer">
 <br> <br> 



  <button id="clickme" onclick = "finish()">Submit</button>
 <button id= "home" onclick="window.location.href='{% url 'blog-home' %}'" hidden>Finished</button>
 <button id = "reset" onClick ="window.location.reload()" hidden>Restart</button>
</div>

</body>


<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'js/VocabGM_Match4.js' %}"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<script>

document.addEventListener('dragstart', function (event) {
      event.dataTransfer.setData('text', event.target.innerHTML);
    });

</script>


</html>
