{% load static %}
{% load auth_extras %}

<html>
<!--  index.html -->  



<!--  Required meta tags  -->

<!-- Css tags -->

 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" type="text/css" href="{% static 'blog/Game_10.css'%}" >


<header>

  <h4> <span id = "title"> Match-it: Sentences </span> </h4>
  <h3> <span id = "instruct1"> Find the Term that Matches the Sentence </span> </h3>
  <h3> <span id = "instruct2"> Then Drag the Word into the correct Box </span> </h3>
  <h4> <span id = "instruct3"> Click the Box and Delete the Word to Change Your Answer </span> </h4>
  

<!-- <li id = "words" hidden> </li> -->
           
        <div class = "sidenav"> 

  <button id= "back" onclick="window.location.href='{% url 'blog-home' %}'"><i class='fas fa-angle-left'></i></button> <br> <br> <br> <br>      
  <p draggable="true" id="1">{{terms|index:0}}</p>
  <p draggable="true" id="2">{{terms|index:1}}</p>
  {% if terms|length >= 3 %}
  <p draggable="true" id="3">{{terms|index:2}}</p>
  {% if terms|length >= 4 %}
  <p draggable="true" id="4">{{terms|index:3}}</p>
  {% if terms|length >= 5 %}
  <p draggable="true" id="5">{{terms|index:4}}</p>
    {% if terms|length >= 10 %}
  <p draggable="true" id="6">{{terms|index:5}}</p>
  <p draggable="true" id="7">{{terms|index:6}}</p>
 
  <p draggable="true" id="8">{{terms|index:7}}</p>
 
  <p draggable="true" id="9">{{terms|index:8}}</p>

  <p draggable="true" id="10">{{terms|index:9}}</p>

    {% endif %}
    {% endif %}
    {% endif %}
    {% endif %}
</div>
    



</header>

<br> <br> <br> <br>


<body>

  <div id  ="customAlert">
  <div id = "box">
  <div class = "boxHead">
    <p> Score</p>

  </div>
    <div id = "content">
      <p> // </p>
    </div>
    <br>
    <button id = "closeAlert" onclick = "hideCustom()"> Ok </button>
  </div>
</div>


<div id="element2">
<input id="sent1"  type="hidden"  value="{{ terms|index:0 }}"> </input>
<li id = "data1"> {{mysent|index:0}} </li>
<br><br>
<input type=text id="answer1" class= "answer"placeholder ="Drag Words Here! ">

<br><br>

<input id="sent2"  type="hidden"  value="{{ terms|index:1 }}"> </input>
<li id = "data2"> {{mysent|index:1}}</li>
<br><br>
<input type=text id="answer2" class= "answer"placeholder ="Drag Words Here! ">


<br><br>

<input id="sent3"  type="hidden"  value="{{ terms|index:2 }}"> </input>
<li id = "data3"> {{mysent|index:2}}</li>
<br><br>
 <input type=text id="answer3" class= "answer"placeholder ="Drag Words Here! ">
<br><br>

<input id="sent4"  type="hidden"  value="{{ terms|index:3 }}"> </input>
<li id = "data4"> {{mysent|index:3}}</li>
<br><br> 
 <input type=text id="answer4" class= "answer"placeholder ="Drag Words Here! ">

<br><br>

<input id="sent5"  type="hidden"  value="{{ terms|index:4 }}"> </input>
<li id = "data5"> {{mysent|index:4}}</li>
<br> <br>
 <input type=text id="answer5" class= "answer"placeholder ="Drag Words Here! ">
 <br><br>
 <input id="sent6"  type="hidden"  value="{{ terms|index:5 }}"> </input>
<li id = "data6"> {{mysent|index:5}}</li>
<br> <br>
 
 <input type=text id="answer6" class= "answer"placeholder ="Drag Words Here! ">
 <br><br>
 <input id="sent7"  type="hidden"  value="{{ terms|index:6 }}"> </input>
<li id = "data7"> {{mysent|index:6}}</li>
<br> <br>
 
 <input type=text id="answer7" class= "answer"placeholder ="Drag Words Here! ">
 <br><br>
 <input id="sent8"  type="hidden"  value="{{ terms|index:7 }}"> </input>
<li id = "data8"> {{mysent|index:7}}</li>
<br> <br>
 
 <input type=text id="answer8" class= "answer"placeholder ="Drag Words Here! ">
 <br><br>
 <input id="sent9"  type="hidden"  value="{{ terms|index:8 }}"> </input>
<li id = "data9"> {{mysent|index:8}}</li>
<br> <br>

 <input type=text id="answer9" class= "answer"placeholder ="Drag Words Here! ">
 <br><br>
 <input id="sent10"  type="hidden"  value="{{ terms|index:9 }}"> </input>
<li id = "data10"> {{mysent|index:9}}</li>
<br> <br>
 <input type=text id="answer10" class= "answer"placeholder ="Drag Words Here! ">
 <br> <br> 
 <button id="clickme" onclick = "finish()">Submit</button>
 <button id= "home" onclick="window.location.href='{% url 'blog-home' %}'" hidden>Finished</button>
 <button id = "reset" onclick ="window.location.reload()" hidden>Restart</button>
</div>



<!-- need to put this submit button in spot that makes since.. -->


</body>

<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'js/VocabGm_Match10.js' %}"></script>

<script>

document.addEventListener('dragstart', function (event) {
      event.dataTransfer.setData('text', event.target.innerHTML);
    });

</script>



</html>
