{% load static %}
{% load auth_extras %}

<html>
<!--  index.html -->



<!--  Required meta tags  -->

<!-- Css tags -->
<style type="text/css">
#element1 {display:inline-block; width:35%; padding:10px}
#element2 {display:inline-block; width:35%; padding:10px}
</style>



 <link rel="stylesheet" type="text/css" href="{% static 'blog/game.css'%}">


<header>
  <h3> <span id = "title"> Guess The Word! </span> </h3>

<!-- <li id = "words" hidden> </li> -->
       {% for term in terms %}
       <li> {{term}} </li>
       {% endfor %}

       <h3> Correct:   <span id= "correct"></span> /5</h3>



</header>

<br> <br> <br> <br>


<body>



<div id="element1">

 <input type=text id="answer1" placeholder = "Enter Word">

<br><br>

 <input type=text id="answer2"placeholder = "Enter Word">


<br><br>

 <input type=text id="answer3"placeholder = "Enter Word">


<br><br>

 <input type=text id="answer4"placeholder = "Enter Word">




<br><br>

 <input type=text id="answer5"placeholder = "Enter Word">



</div>



<div id="element2">
<input id="sent1"  type="hidden"  value="{{ terms|index:0 }}"> </input>
<li> {{mysent|index:0}} </li>


<br><br>

<input id="sent2"  type="hidden"  value="{{ terms|index:1 }}"> </input>
<li> {{mysent|index:1}}</li>



<br><br>

<input id="sent3"  type="hidden"  value="{{ terms|index:2 }}"> </input>
<li> {{mysent|index:2}}</li>

<br><br>

<input id="sent4"  type="hidden"  value="{{ terms|index:3 }}"> </input>
<li> {{mysent|index:3}}</li>


<br><br>

<input id="sent5"  type="hidden"  value="{{ terms|index:4 }}"> </input>
<li> {{mysent|index:4}}</li>

</div>



<!-- need to put this submit button in spot that makes since.. -->
<button id="clickme" onclick = "finish()">Submit</button>
<button id = "reset" onClick ="window.location.reload()" hidden>Restart</button>
</body>


<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'js/VocabGm_Match5.js' %}"></script>




</html>
