{% extends "blog/base.html" %}
{% block content%}
    <h1>Student Tracker</h1>
    <p> This list shows students that are in your group</p>


    <div class = "card card-body">
      <form method="get">
        {{myFilter.form}}

      <button class="btn btn-primary" type="submit">Search</button>
      </form>



      <form method = "POST">{% csrf_token %}
        <button class="btn btn-primary" type="submit" name= "reset">Reset Search</button>
        </form>


    </div>


<div class = "row">
<div class = "col-md">
<div class = "card card-body">

    <table class = "table table-sm">
    <thead>
        <tr>

            <th width="30%">Name</th>
            <th width ="30%">Email</th>


        </tr>
    </thead>
    <tbody>
           {% for user in users %}
           <!-- show all users in group of current logged in user. show everyone name except the owner of group-->
           {% if user.username != request.user.username%}
       <tr>
            <th>
              {{ user.username}}
            </th>


            <th>  {{user.email}} </th>
        </tr>
          {% endif %}
          {% endfor %}

      </tbody>
    </table>
    </div>
  </div>
</div>
{% endblock content %}
