{% extends "blog/base.html" %}
{% block content%}
{% load auth_extras %}
    <h1>Teacher Lookup Page</h1>


    <div class = "card card-body">
      <form method="get">
        {{myFilter.form}}

      <button class="btn btn-primary" type="submit">Search</button>
      </form>

    </div>


<div class = "row">
<div class = "col-md">
<div class = "card card-body">

    <table class = "table table-sm">
    <thead>
        <tr>

            <th width="30%">Name</th>
            <th width ="30%">Email</th>
            <!-- <th width ="30%"></th>      working on this still -->

        </tr>
    </thead>
    <tbody>
           {% for user in users %}
       <tr>
            <th>
              <a href="{{ user.username }}"> {{ user.username}} </a>
            </th>


            <th>  {{user.email}} </th>








            <th>


              {% if request.user|has_group:user.username %}
                <p>User belongs to my group</p>

              {% else %}
              <form method = "POST">{% csrf_token %}
              <button class="btn btn-primary" type="submit" name="group_name" value= "{{ user.username }}">Join</button> </th>
              </form>
        </tr>
          {% endif %}
          {% endfor %}
      </tbody>
    </table>
    </div>
  </div>
</div>
{% endblock content %}
