{% extends "blog/base.html" %}
{% block content%}
{% load auth_extras %}
    <h1>Track Your Progress : {{request.user.username}}</h1>


    <div class = "card card-body">
      <form method="get">
        {{myFilter.form}}

      <button class="btn btn-primary" type="submit">Search</button>
      </form>


      <form method = "POST">{% csrf_token %}
        <button class="btn btn-primary" type="submit" name= "reset">Reset Search</button>
        </form>


    </div>

<div class = "row">
<div class = "col-md">
<div class = "card card-body">

    <table class = "table table-striped table-bordered table-sm" id="dtBasicExample" cellspacing="0" width="100%">
    <thead>
        <tr>


            <th >Test Name</th>
            <th>Score</th>
             <th>Terms Missed</th>
             <th>date taken</th>



        </tr>
    </thead>
    <tbody>
           {% for user in users %}
       <tr>


            <th>  {{user.test}}</th>


            <th>  {{user.score}} </th>

            <th>  {{user.wrong_terms}} </th>

            <th>  {{user.date_posted|date:"SHORT_DATE_FORMAT" }} </th>


        </tr>

          {% endfor %}
      </tbody>
    </table>
    </div>
  </div>
</div>
{% endblock content %}
