{% extends "blog/base.html" %}
{% block content%}
{% load static %}
<h2 class = "mb-3"> Folders by {{ view.kwargs.username }} </h2>

<p>
<img src="{% static "img/alert.gif" %}" alt="" width="25" height="25" viewBox="0 0 612 612">
Below are folders created by {{ view.kwargs.username }}.
To view the contents of the folder click 'View Folder'.</p>

<div class = "row">
<div class = "col-md">
<div class = "card card-body">

    <table class = "table table-striped table-bordered mydatatable" width="100%">
    <thead>
        <tr style="background-color:#9CCC65 ">


            <th >Title</th>
            <th>Author</th>
             <th>Date posted</th>
             <th>View folder</th>
             <th> </th>

        </tr>
    </thead>
    <tbody>
           {% for folder in folders %}
       <tr>


            <th>  {{folder.title}}</th>

            <th>  {{folder.author}} </th>

            <th>  {{folder.date_posted|date:"SHORT_DATE_FORMAT" }} </th>

            <th> <button class = "btn btn-primary" onclick="window.location.href='{% url 'folder-detail' folder.id %}'">View Folder </button></th>

            <th>            </th>


        </tr>

          {% endfor %}
      </tbody>
    </table>
    </div>
  </div>
</div>

{% endblock content %}

