{% load static %}
{% load auth_extras %}

<html>
<!--  index.html -->



<!--  Required meta tags  -->

<!-- Css tags --> 
<link rel="stylesheet" type="text/css" href="{% static 'blog/game.css'%}">


<header>
  <h3> <span id = "title"> Vocab Game  </span> </h3>
        {% for word,sent in mylists|shuffle %}
<!-- <li id = "words" hidden> </li> -->

       <li> {{word}} </li>
{% endfor %}
</header>

<br> <br> <br> <br> 




<body> 
      {% for sent in mysent|shuffle %}
      <div class = "sentbox"> 
        <div class = "content"> {{sent}} 
        <div class = "submit"> 
          <br> <br> 
       
         <button class="button">A</button>
         <button class="button button2">B</button>
         <button class="button button3">C</button>
         <button class="button button4">D</button>
         <button class="button button5">E</button>


        </div> 

    </div>
  </div> 

        {% endfor %}


</body> 
     
      








<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>

<script type = "text/javascript">

//Declaring words/score
let sent = document.getElementById("sents");
let score = 0;

/* Const function that allows us to continiously display what we want
 As long as we call it */

const showOnScreen = () => {
  document.getElementById("sents").innerHTML = sent;
}

//Hiding words, set to true if you want to hide
sent.hidden = false;





// Calls our main func
//window.onload = showOnScreen

</script>

</html>
