{% load static %}
{% load auth_extras %}

<html>
<!--  index.html -->
<head>
<h3> <span id = "title"> Vocab Game  </span> </h3> 
</head> 

<body> 

  <h3> score <span id = "score_text"> </span> </h3> 

{% for word in words|shuffle %}

<p id = "words" hidden> {{word}}</p>

{% endfor %}

 <li id = "wordlists">
   

 </li>









<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>

<script type = "text/javascript"> 
//Setting words/score
let words = document.getElementById("words"); 
let score = 0;

// displays score
document.getElementById("score_text").innerHTML = score;

//hiding words from django - set to true to hide 
words.hidden = false;




/* Commented out code - shows undefined in list and doesn't display in console
will fix this after work or tomorrow morning


let arr = words.length; 

for (var i = 0; i < arr; i ++){
  console.log(arr[i]); 
}

document.getElementById("wordlists").innerHTML = arr; 
*/


</script> 

</html> 