{% load static %}
{% load auth_extras %}

<html>
<!--  index.html -->



<!--  Required meta tags  -->

<!-- Css tags -->
<style type="text/css">
#element1 {display:inline-block; width:35%; padding:10px}
#element2 {display:inline-block; width:35%; padding:10px}
</style>



 <link rel="stylesheet" type="text/css" href="{% static 'blog/game.css'%}">


<header>
  <h3> <span id = "title"> Vocab Game  </span> </h3>

<!-- <li id = "words" hidden> </li> -->
       {% for word in mylists %}
       <li> {{word}} </li>
       {% endfor %}

       <h3> Score <span id= "score"></span></h3>


</header>

<br> <br> <br> <br>


<body>



<div id="element1">

 <input type=text id="answer1">

<br><br>

 <input type=text id="answer2">


{% if mysent|length_is:"3" %}

<br><br>

 <input type=text id="answer3">

{% endif %}
</div>



<div id="element2">

<input id="def1"  type="hidden"  value="{{ terms|index:0 }}"> </input>
<li> {{mysent|index:0}} </li>


<br><br>

<input id="def2"  type="hidden"  value="{{ terms|index:1 }}"> </input>
<li> {{mysent|index:1}}</li>



{% if mysent|length_is:"3" %}

<br><br>

<input id="def3"  type="hidden"  value="{{ terms|index:2 }}"> </input>
<li> {{mysent|index:2}}</li>

{% endif %}
</div>



<!-- need to put this submit button in spot that makes since.. -->
<button id="clickme">Submit</button>
</body>


<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>




</html>
