{% extends "blog/base.html" %}
{% block content%}



<article class="media content-section">
  <img class = "rounded-circle article-img" src="{{object.author.profile.image.url }}">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{% url 'user-lists' object.author.username %}">{{ object.author }}</a>
      <small class="text-muted">{{ object.date_posted|date:"F d , Y" }}</small>
    {% if object.author == user %}
    <p> note: to update the terms within this list</p>
    <p> click "update terms" to update terms,sentences and </p>
    <p> defintions for your list.</p>
    <div>
    <a class = "btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'list-update' object.id %}">Update description/title</a>

    <a class = "btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'blog-create_word_list' object.id %}">Update Terms </a>

    <a class = "btn btn-danger btn-sm mt-1 mb-1" href="{% url 'list-delete' object.id %}">Delete </a>
</div>

    {% endif %}

    <a class = "btn btn-danger btn-sm mt-1 mb-1" href="{% url 'blog-vocab_game' object.id %}">Vocab Game </a>

    <a class = "btn btn-danger btn-sm mt-1 mb-1" href="{% url 'blog-print_vocab_sent' object.id %}">Print Worksheet </a>

    </div>
    <h2><a class="article-title"> {{ object.title }}</a></h2>
    <p class="article-content">{{ object.description }}</p>


<p>Terms:</p>
{% for word in words%}

<p>{{word}} </p>

{% endfor %}
</div>

</article>

{% endblock content %}


