{% extends "blog/base.html" %}
{% block content%}


<div class = "row">
<div class = "col-md">
<div class = "card card-body">

<p>----------------------------------------------------------------------------------------</p>
<p>Directions:</p>

<p>Click the 'add' button in table below to add a definition to your term.
<p>The webpage will reload after hitting the 'add' button. After the page reloads you will see your chosen definition in red text to the right of the 'current definition saved' heading.</p>

<p> If none of the definitions below are what you want, you have option to type in your own definition for your terms in the text boxes below. Click the 'Add Custom Definiton' button when you have added your custom text. The page will reload and show your custom defintinon in red text to the right of the 'current definition saved' heading.</p>

<p>When you finish selecting definitons for your term(s) click the 'finish' button at bottom of this page to advance.</p>

<p>----------------------------------------------------------------------------------------</p>


{% for word in words %}


<h2> The current definition saved for {{word}}:</h2>
<h3 style="color:red">   {{word.definition}}  </h3>

<table class = "table table-sm">
		<thead>
			<tr>
				<th> <h5 class="font-weight-bold">{{word}}</h5> </th>
				<th> Action </th>
				<!-- <th width = "30%"> Sentence </th> -->
			</tr>
		</thead>
		<tbody>

			{% for def in word.get_defs %}
			<tr>
				<td> {{def}} </td>

				<td>
					<form method = "POST">{% csrf_token %}

				<input name="word-id" type="hidden" value="{{word.id}}"></input>
              <button class="btn btn-primary" type="submit" name="term_def" value= "{{def}}">Add</button>
              	</form>

          </td>
			</tr>
			{% endfor %}
	</tbody>
	</table>
	<form method = "POST">{% csrf_token %}
		<div class="form-group">
   		<label for="exampleFormControlTextarea1">Have a better definition for {{word}}? Enter it here!</label>
  		<textarea class="form-control" name="text_input" rows="2" value="{{text_input}}" placeholder="Enter your own definition here, if you don't like what we suggest."></textarea>
    	<input name="user_add" type="hidden" value="{{word.id}}"></input>
    	<button type="submit" class="btn btn-primary mb-2">Add Custom Definiton</button>
  		</div>
	</form>

{% endfor %}
<p>----------------------------------------------------------------------------------------</p>
<h3 class="font-weight-bold">Click 'Finish' button when you are done adding definitions.</h3>
<p>----------------------------------------------------------------------------------------</p>
<form method = "POST">{% csrf_token %}

        <button class="btn btn-success" type="submit" name= "done" >Finish</button>
        </form>

</div>
</div>
</div>
{% endblock content %}
